matplotlib==3.5.1
scipy==1.8.0
numpy==1.19.3
scikit-learn==1.1.1
torch==1.11.0
torchaudio==0.11.0
torchmetrics==0.7.3
torchvision==0.12.0
pytorch-lightning==1.6.0
seaborn==0.12.0
notebook==6.4.3
captum==0.6.0
